# Visual Studio
.vs/
out/

# CMake build files
build/
cmake-build-*/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options
.vs/
*.vcxproj.user

# Executables
*.exe
*.out
*.app

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so
*.dylib